@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); 
 @import "./BreakPoints.scss";

* {
    box-sizing: border-box !important; 
    overflow-x: hidden; 
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.btn-component {
    @include media('>phone', '<=tablet') {
        margin: 0 !important;
    }
}

.Navbar-container {
    z-index: 10 !important;

    .Navbar-flex {

        @include media('<=desktop') {
            display: flex !important;
            flex-wrap: nowrap;
        }
        .navbar-img img {
            @include media('<=phone') {
                width: 150px !important;
            }

            @include media('>phone', '<=tablet') {
                width: 158px !important;
            }

            @include media('>tablet', '<=992px') {
                width: 192px !important;
            }
        }
    }
}

.navbar-dropdown:hover .navbar-dropdown-item {
    @include media('>=991px') {
        display: block !important;
    }
}

.banner-button {  
    @include media ('<=tablet') {
        display: block !important;
        button {
            margin-bottom: 10px !important;
        }
    }
    .flex-left button, .flex-right button {
        width: 20rem;
    }
}

.navbar-main {
    ul {
        li a {
            padding: 0 15px !important;
        }
    }
}

.navbar-toggler {
    @include media('<=992px') {
        position: relative;
        bottom: 50px;
    }
}

.banner_bg_img {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    // padding: 30px 0 !important;
    .container {
        @include media('<=tablet') {
            height: 100vh;
            top: 76% !important;
        }

    }
    h1 {
        font-size: 72px;
        font-weight: 300 !important;
        @include media('<phone') {
            font-size: 44px;
            line-height: 44px;
            margin-bottom: 10px !important;
            padding-top: 0 !important;
        }
        @include media('>=phone', '<=tablet') {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 10px !important;
            padding-top: 0 !important;
        }
    }
    .items {
        @include media('<=tablet') {
            text-align: left;
            margin: 0 10px !important ;
        }
        ul {
            list-style: none;
            li {
                display: inline;
                @include media('<=tablet') {
                    display: block;
                    line-height: 34px;
                    border-left: none !important;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 0 19px !important;
                    font-weight: 400;
                    &:hover i {
                        transform: translate(10px, 10px) !important;
                        color: black; 
                        transform: scaleY(1.5);
                    }
                }
            }
        }
    }
}

.palace {
    ul {
        list-style: none !important;
        li {
            line-height: 30px !important;
         a {
                text-decoration: none;
                padding: 0 25px;
                color: #000;
            }
        }
    }
}

.banner-end {
    .banner-end-absolute {
        top: -41px;
        right: 46px;
    }
    .banner-end-details {
        &> p {
            line-height: 27px;
        }
    }
}

.heaven-text {
    font-size: 7rem;
    font-weight: 300;
    line-height: 170px;
    bottom: -9%;
    opacity: .5;
    @include media("<=tablet", ">phone") {
        font-size: 4rem;
    }
    @include media("<=phone") {
        font-size: 2rem;
    }
    @include media("<=LGdesktop", ">tablet") {
        font-size: 5.5rem;
    }

    animation: heaven 15s linear infinite forwards;
    @keyframes heaven {
        0% {transform: translateX(100%);}

        100% {transform: translateX(-100%);}
    }
}

.footer-logo {
    width: 50% !important;
    @include media("<=tablet") {
        width: 25% !important;
    }
}

.Feature-card {
    .card-body {transition: 0.8s; }  
    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0rem;
        left: 0;
        transition: 0.8s;
        z-index: -1;
    } 
    &:hover {
        .card-body {
            transform: translateX(30px);
        }

        &::after {
            background: black;
            top: 1rem;
            transform: translateX(20px);
        }
    }
    background-image: url("../../../public/image/Banner/realstate.jpg");
}

.realState_bg_img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    // padding: 30px 0 !important;
    .container {
        @include media('<=tablet') {
            height: 100vh;
            top: 76% !important;
        }

    }
    h1 {
        font-size: 72px;
        font-weight: 300 !important;
        @include media('<phone') {
            font-size: 44px;
            line-height: 44px;
            margin-bottom: 10px !important;
            padding-top: 0 !important;
        }
        @include media('>=phone', '<=tablet') {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 10px !important;
            padding-top: 0 !important;
        }
    }
    .items {
        @include media('<=tablet') {
            text-align: left;
            margin: 0 10px !important ;
        }
        ul {
            list-style: none;
            li {
                display: inline;
                @include media('<=tablet') {
                    display: block;
                    line-height: 34px;
                    border-left: none !important;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 0 19px !important;
                    font-weight: 400;
                    &:hover i {
                        transform: translate(10px, 10px) !important;
                        color: black; 
                        transform: scaleY(1.5);
                    }
                }
            }
        }
    }
}